# 1) Общий владелец по умолчанию для всего репозитория
* @sharapik26

# 2) Специфичные владельцы для папок (последняя совпавшая запись имеет приоритет)

/app/ @sharapik26

# владельцы тестов
/tests/ @sharapik26

# владельцы конфигурации GitHub (workflow, CODEOWNERS и т.п.)
/.github/ @sharapik26

# конкретный файл (приоритетнее общих правил)
/README.md @sharapik26
